@import '../../styles/variables.scss';

.spAnswer{
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    margin: 10px;
    width: 40%;
    background-color: $light-grey-color;
    &:hover {
        background-color: $main-color-dark;
        color: $white-color;
    }
}