@import './variables.scss';

#userHome-cont {
    margin-top: 40px;
}

#user-col {
    border-radius: 5px;
    padding-top: 20px;
    text-transform: capitalize;

    h2 {
        text-align: center;
    }

    img {
        border-radius: 10px;
        max-width: 100%;
        height: auto;
    }
  }

#mess-col {
    margin-top: 20px;
}


  #user-info-row {
    text-align: left;
        &:last-child {
            margin-top: 10px;
        }
  }


#user-message-row, #user-lb-row {
    margin-top: 60px;
}