@import url('https://fonts.googleapis.com/css?family=Barlow|Fauna+One|Libre+Franklin:500,500i,600&display=swap');

 /* Color Variables */
$main-color-light: #4c5a9e;
$main-color-dark: #313a68;
$main-color-darkest: #151829;

$secondary-color: #5bb6ce;
$accent-color: #f7b67d;
$white-color: #f6f7fa;
$light-grey-color: #efefef;
$dark-grey-color: #a1a1a1;


 /* Font Variables */
$font-main-color: #151829;
$font-accent-color: #e2934d;
$font-heading: 'Libre Franklin', sans-serif;
$font-main: 'Barlow', sans-serif;
$font-serif: 'Fauna One', 'Times New Roman', serif;





